.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;  
}

.truncate {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}