<div class="row">
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Summary</span>
					<span class="caption-helper hide">weekly stats...</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row static-info sale-summary">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Total account value of policy." data-original-title="Account Value ">Account Value </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$23,223.12 </span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Surrender Charge on policy if full surrender was executed." data-original-title="Surrender Charge ">Surrender Charge </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$2,003.23 </span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Value of contract if surrendered." data-original-title="Surrender Value ">Surrender Value </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$21,220.91 </span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
						    <li>
								<span class="sale-info">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Initial benefit specified on policy." data-original-title="Face Amount ">Face Amount </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$125,000.00 </span>
							</li>
							<li>
								<span class="sale-info">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Option that determines how the Death Benefit is calculated relative to the Face Amount and Account Value." data-original-title="Death Benefit Option">Death Benefit Option</a> 
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Level death benefit option specifies the death benefit to remain as the face amount regardless of the account value of the policy." data-original-title="Level Death Benefit Option">Level</a>
								</span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Current death benefit of the policy." data-original-title="Death Benefit">Death Benefit</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$125,000.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase">
								<a href="javascript:;" class="popovers truncate" data-container="body" data-trigger="hover" data-placement="top" data-content="Current death benefit of the policy less any outstanding loans against the policy." data-original-title="Net Death Benefit">Net Death Benefit</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$125,000.00 </span>
							</li>
						</ul>
					</div>
				</div>
			</div>	
		</div>
		<!-- END PORTLET -->
	</div>
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-globe theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Definition Of Life Insurance</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row static-info sale-summary">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Defines the type of test to determine if the policy is still considered Life Insurance." data-original-title="Definition Of Life Insurance">7702 Test</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Definition Of Life Insurance based on Cash Value Accumulation Test." data-original-title="Cash Value Accumulation Test">CVAT</a>
								</span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Section 7702 imposes limitations on premiums and benefits relative to death benefits, and defines what is considered life insurance for federal tax purposes." data-original-title="Section 7702 Limit">7702 Limit</a> 
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">N/A</span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Section 7702 imposes limitations on premiums and benefits relative to death benefits, and defines what is considered life insurance for federal tax purposes." data-original-title="Definition Of Life Insurance">MEC Limit</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									$18,858.06
								</span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total amount paid into the policy that applies against the 7702A Limit (MEC Limit)." data-original-title="7702A Paid In">MEC Paid In</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									$6,858.06
								</span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Tax Cost Basis is known for payments applied to policy." data-original-title="Cost Basis">Cost Basis Known?</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									Yes
								</span>
							</li>
							<li>
								<span class="sale-info uppercase">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Tax Cost Basis for payments applied to policy." data-original-title="Cost Basis">Cost Basis</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									$6,013.23
								</span>
							</li>
						</ul>
					</div>
				</div><!-- /.row -->
				
				<div class="row static-info sale-summary">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total payments applied to policy since issue date of policy." data-original-title="Payments (Issue To Date)">Payments (Issue To Date)</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									$7,232.00
								</span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total payments applied to policy since last anniversary of policy." data-original-title="Payments (Anniversary To Date)">Payments (Anniversary To Date)</a> 
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">$1,322.13</span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total withdrawals from policy since issue date of policy." data-original-title="Withdrawals (Issue To Date)">Withdrawals (Issue To Date)</a>
								<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
									$0.00
								</span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total withdrawals from policy since last anniversary of policy." data-original-title="Withdrawals (Anniversary To Date)">Withdrawals (Anniversary To Date)</a> 
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">$0.00</span>
							</li>
						</ul>
					</div>
				</div><!-- /.row -->
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Coverage</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-scrollable">
					<table class="table table-hover">
					<thead>
					<tr>
						<th>
							 Layer
						</th>
						<th>
							 Effective Date
						</th>
						<th>
							 Issue Age
						</th>
						<th>
							 Face Amount
						</th>
						<th>
							 Status
						</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>1</td>
						<td>2014-04-04</td>
						<td>33</td>
						<td>$125,000.00</td>
						<td>
							<span class="label label-sm label-success">Active</span>
						</td>
					</tr>
					</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
	<div class="col-md-6">
		<!-- BEGIN PORTLET -->
		<div class="portlet light tasks-widget">
			<div class="portlet-title">
				<div class="caption caption-md">
					<i class="icon-bar-chart theme-font hide"></i>
					<span class="caption-subject font-blue-madison bold uppercase">Loans</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="row static-info sale-summary">
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total loan amount against the policy." data-original-title="Total Loan">Total Loan</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total loan interest due on existing loan against the policy." data-original-title="Loan Interest Due">Loan Interest Due</a> 
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Cash value of the loan including interest earned while loan is in effect." data-original-title="Loaned Cash Value">Loaned Cash Value</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total amount needed to repay all loans on policy." data-original-title="Total Amount Needed To Repay Loan">Total Amount Needed To Repay Loan</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul class="list-unstyled">
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="All loans taken out of on the policy since the policy issue date." data-original-title="Loans (Issue To Date)">Loans (Issue To Date)</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate"> 
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="All loans taken out of on the policy since the last policy anniversary date." data-original-title="Loans (Anniversary To Date)">Loans (Anniversary To Date) </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total loan repayments made on the policy since the policy issue date." data-original-title="Loans Repaid (Issue To Date) ">Loans Repaid (Issue To Date) </a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
							<li>
								<span class="sale-info uppercase truncate">
									<a href="javascript:;" class="popovers" data-container="body" data-trigger="hover" data-placement="top" data-content="Total loan repayments made on the policy since the last policy anniversary date." data-original-title="Loans Repaid (Anniversary To Date)">Loans Repaid (Anniversary To Date)</a>
									<i class="fa fa-img-up"></i>
								</span>
								<span class="sale-num text-right">
								$0.00 </span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- END PORTLET -->
	</div>
</div>
<!-- BEGIN MAIN JS-->
<script>
	Profile.init(); // init page demo
</script>
<!-- BEGIN MAIN JS -->