<!-- BEGIN PAGE CONTENT-->
<div class="row" ng-controller="UserProfileController">
	<div class="col-md-12">
		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<!-- PORTLET MAIN -->
			<div class="portlet light">
				<div class="row static-info">
					<div class="col-md-5 name">
						 Owner:
					</div>
					<div class="col-md-7 value">
						 <a href="http://www.keenthemes.com">John Doe</a>
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Insured:
					</div>
					<div class="col-md-7 value">
						 <a href="http://www.keenthemes.com">John Doe</a>
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Payor:
					</div>
					<div class="col-md-7 value">
						 <a href="http://www.keenthemes.com">John Doe</a>
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Company:
					</div>
					<div class="col-md-7 value">
						 Trustmark Insurance Company
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Account:
					</div>
					<div class="col-md-7 value">
						 <a href="#">2342342422</a>
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Policy:
					</div>
					<div class="col-md-7 value">
						 {{$state.current.data.policyNumber}}
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Product:
					</div>
					<div class="col-md-7 value">
						 Fixed Universal Life
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Plan:
					</div>
					<div class="col-md-7 value">
						 TUL2004GLP3
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Status:
					</div>
					<div class="col-md-7 value">
						 <span class="label label-sm label-success">Active</span>
					</div>
				</div>
				<div class="row static-info">
					<div class="col-md-5 name">
						 Effective Date:
					</div>
					<div class="col-md-7 value">
						 2014-04-04
					</div>
				</div>
				
				
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li ng-class="{active: $state.includes('policy.dashboard')}">
							<a ui-sref="policy.dashboard">
							<i class="icon-home"></i>
							Overview </a>
						</li>
						<li ng-class="{active: $state.includes('policy.account')}">
							<a ui-sref="policy.account">
							<i class="icon-settings"></i>
							Performance </a>
						</li>
						<li ng-class="{active: $state.includes('policy.help')}">
							<a ui-sref="policy.help">
							<i class="icon-info"></i>
							Transaction History </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
			<!-- END PORTLET MAIN -->
			<!-- PORTLET MAIN -->
			
			<!-- END PORTLET MAIN -->
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->
		<!-- BEGIN PROFILE CONTENT -->
		<div ui-view class="profile-content fade-in-up"> 
			
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>
<!-- END PAGE CONTENT-->