<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">Performance</div>
			</div>
			<div class="portlet-body">
				<div style="padding: 0px; position: relative;" id="chart_2"
					class="chart">
					<canvas height="300" width="1588"
						style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1588px; height: 300px;"
						class="flot-base"></canvas>
					<div
						style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);"
						class="flot-text">
						<div
							style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
							class="flot-x-axis flot-x1-axis xAxis x1Axis">
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 75px; text-align: center;">2</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 182px; text-align: center;">4</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 289px; text-align: center;">6</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 397px; text-align: center;">8</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 501px; text-align: center;">10</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 609px; text-align: center;">12</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 716px; text-align: center;">14</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 823px; text-align: center;">16</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 931px; text-align: center;">18</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1038px; text-align: center;">20</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1145px; text-align: center;">22</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1253px; text-align: center;">24</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1360px; text-align: center;">26</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1468px; text-align: center;">28</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; max-width: 99px; top: 283px; left: 1575px; text-align: center;">30</div>
						</div>
						<div
							style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;"
							class="flot-y-axis flot-y1-axis yAxis y1Axis">
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 270px; left: 13px; text-align: right;">0</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 249px; left: 7px; text-align: right;">10</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 228px; left: 7px; text-align: right;">20</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 208px; left: 7px; text-align: right;">30</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 187px; left: 7px; text-align: right;">40</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 166px; left: 7px; text-align: right;">50</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 145px; left: 7px; text-align: right;">60</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 125px; left: 7px; text-align: right;">70</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 104px; left: 7px; text-align: right;">80</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 83px; left: 7px; text-align: right;">90</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 62px; left: 1px; text-align: right;">100</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 42px; left: 1px; text-align: right;">110</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 21px; left: 1px; text-align: right;">120</div>
							<div class="flot-tick-label tickLabel"
								style="position: absolute; top: 0px; left: 1px; text-align: right;">130</div>
						</div>
					</div>
					<canvas height="300" width="1588"
						style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1588px; height: 300px;"
						class="flot-overlay"></canvas>
					<div class="legend">
						<div
							style="position: absolute; width: 82px; height: 31px; top: 13px; right: 12px; background-color: rgb(255, 255, 255); opacity: 0.85;">
						</div>
						<table
							style="position: absolute; top: 13px; right: 12px;; font-size: smaller; color: #545454">
							<tbody>
								<tr>
									<td class="legendColorBox"><div
											style="border: 1px solid #ccc; padding: 1px">
											<div
												style="width: 4px; height: 0; border: 5px solid rgb(209, 38, 16); overflow: hidden"></div>
										</div></td>
									<td class="legendLabel">Unique Visits</td>
								</tr>
								<tr>
									<td class="legendColorBox"><div
											style="border: 1px solid #ccc; padding: 1px">
											<div
												style="width: 4px; height: 0; border: 5px solid rgb(55, 183, 243); overflow: hidden"></div>
										</div></td>
									<td class="legendLabel">Page Views</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>